<Alloy>
    <TableView id="tblMenu" class="menuTable"  onClick="doMenuClick" showVerticalScrollIndicator="false" scrollable="true">
    	<!--<TableViewSection id="secGeneral" headerView=null>
	    	<TableViewRow height="50"  >
				<Label class="menuLabel">EQLINK CARD</Label>
			</TableViewRow>
			<TableViewRow height="50">
				<Label class="menuLabel">PLAY WITH EQLINK</Label>
			</TableViewRow>
			
			<TableViewRow height="50">
				<Label class="menuLabel">WIN WITH EQLINK</Label>
			</TableViewRow>
			
			<TableViewRow height="50">
				<Label class="menuLabel">RELOAD EQLINK</Label>
			</TableViewRow>
		</TableViewSection>
		
		<TableViewSection id="secNonMember" headerView=null>
			<TableViewRow height="50">
				<Label class="menuLabel">MEMBER LOGIN</Label>
			</TableViewRow>
		</TableViewSection>
		
		<TableViewSection id="secMember" headerView=null>
			<TableViewRow height="50">
				<Label class="menuLabel">MY ACCOUNT</Label>
			</TableViewRow>
			
			<TableViewRow height="50">
				<Label class="menuLabel">PLAY</Label>
			</TableViewRow>
			
			<TableViewRow height="50">
				<Label class="menuLabel">WITHDRAWAL</Label>
			</TableViewRow>
			
			<TableViewRow height="50">
				<Label class="menuLabel">CHECK AMOUNT BALANCE</Label>
			</TableViewRow>
			
			<TableViewRow height="50">
				<Label class="menuLabel">RACE CARD</Label>
			</TableViewRow>
			 
			<TableViewRow height="50">
				<Label class="menuLabel">RACE ODD</Label>
			</TableViewRow>
			
			<TableViewRow height="50">
				<Label class="menuLabel">RACE RESULT</Label>
			</TableViewRow>
			
			<TableViewRow height="50">
				<Label class="menuLabel">LOGOUT</Label>
			</TableViewRow>
		</TableViewSection>-->
    </TableView>
</Alloy>